
			<div id="caption" class="flexrow centered" data-onempty="hide">
				
				<span id="value" style="margin-right: 1em;"></span>
				<img id="capedit" class="clickImg" src="/static/imgs/icon.edit.svg" onclick="Notebook_captionedit_show(this);"  />
				<input id="editor" type="text" style="flex-grow: 3;" hidden />
				<img id="capedit-ok" class="clickImg" src="/static/imgs/icon.accept.svg" onclick="Notebook_captionedit_ok(this)" hidden data-mod="w" />
				<img id="capedit-no" class="clickImg" src="/static/imgs/icon.cancel.svg" onclick="Notebook_captionedit_cancel(this)" hidden />
				<span id="separator"></span>
			</div>