
			<div id="consistency" class="flexcol" style="display: none; padding: 1em; border: 1px solid red; border-radius: 4px; margin-bottom: 1em;">
				<span class="error" style="margin-bottom: 0.5em;">Records consistency issues:</span>
				<table id="deperrors" class="simple">
					<thead><tr>
						<th>step</th>
						<th>record</th>
						<th>status</th>
					</tr></thead>
					<tbody><tr data-template="consistencyerror" style="display: none;">
						<td id="step"></td>
						<td id="name"></td>
						<td id="cerror"></td>
					</tr></tbody>
				</table>
			</div>
