
{% extends "base.html" %}

{% set active_page = "index" %}


{% block content %}
<br>
To connect run this: ssh -L 5000:localhost:5000 username@kajita.(org?).aalto.fi<br>
and go to http://localhost:5000/
<br><br><br>

Stuff to do:
<table>
	<tr>
		<td>
		</td>
	</tr>
	<tr>
	
	</tr>
</table>



<img src="/static/imgs/concept-1.svg" />
<br>
<img src="/static/imgs/concept-2.svg" />
<br>
TODOs:
<ul>
	<li>group messages cannot be deleted yet</li>
	<li>notebook messageing system</li>
	<li>hiding messages</li>
	<li>notebook system</li>
	<li>data import (tables, npy)</li>
	<li>parsers*</li>
	<li>...</li>
</ul>

{% endblock %}
