
<div class="navbar-nb">

	<H1 style="margin-left: 0.2em;">MIRA</H1>


	<span id="separator"></span>

	
{%- if current_user.is_authenticated %}
	

	<button  class="navbutton flexbox centered" onclick="window.location.href='/upload';" title="Upload an image">
		<span>Upload</span>
		<img src="/static/imgs/button.upload.svg">
	</button>

	<button class="navbutton flexbox centered" onclick="window.location.href='/search';" title="Look for images">
		<span>Search</span>
		<img src="/static/imgs/button.search.svg">
	</button>

	<button class="navbutton flexbox centered" onclick="window.location.href='/logout';" title="logout">
		<span>Log Out</span>
		<img src="/static/imgs/button.logout.svg">
	</button>

{%- else %}
	
	<button class="navbutton flexbox centered" onclick="window.location.href='/login';" title="login">
		<span>Log In</span>
		<img src="/static/imgs/button.login.svg">
	</button>


{%- endif %}



</div>
