
<div class="navbar">

	<img class="clickImg" src="/static/imgs/button.logo.svg" onclick="window.location.href='/login';" title="Cassandra Home Page"/>


	<span id="separator"></span>

	
{%- if current_user.is_authenticated %}
	

	<div {% if active_page == 'docs' %} class="active"{% endif %} onclick="window.location.href='/docs/';" title="Online user manual">
		<span>Manual</span>
		<img src="/static/imgs/button.docs.svg" />
	</div>	

	<div onclick="window.location.href='/logout';" title="Logout from the system">
		<span>Logout</span>
		<img src="/static/imgs/button.logout.svg" />
	</div>	


{%- else %}
	

	<div {% if active_page == 'login' %} class="active"{% endif %} onclick="window.location.href='/login';" title="Login form">
		<span>Login</span>
		<img class="clickImg" src="/static/imgs/button.login.svg"/>
	</div>

{%- endif %}



</div>
