
<div class="navbar">

	<!--<img class="clickImg" src="/static/imgs/button.logo.svg" onclick="window.location.href='/login';" title="Cassandra Home Page"/>-->
	<H1>MIRA</H1>


	<span id="separator"></span>

	
{%- if current_user.is_authenticated %}
	


{%- else %}
	
	<div {% if active_page == 'upload' %} class="active"{% endif %} onclick="window.location.href='/upload';" title="Upload an image">
		<span>Upload</span>
		<img src="/static/imgs/button.upload.svg" />
	</div>	


	<div {% if active_page == 'search' %} class="active"{% endif %} onclick="window.location.href='/search';" title="Look for images">
		<span>Search</span>
		<img src="/static/imgs/button.search.svg" />
	</div>	



{%- endif %}



</div>
