
{% extends "base.html" %}

{% set active_page = "search" %}


{% block content %}

<div class="flexbox centered">
	<H2>MIRA image search system</H2>
	<span id="separator"></span>
	<div id="mainspinner" class="spinner" style="width: 2em; height: 2em; display: none;"></div>
</div>


<div class="flexcol">
	<div class="flexrow">
		<span style="width: 8em;">tags:</span>
		<input id="tags" type="text">
	</div>
	<div class="flexrow">
		<span style="width: 8em;">location:</span>
		<input id="loc" type="text">
	</div>


	<div class="flexrow">
		<button id="btOK" class="button" onclick="mira_search();">search</button>
	</div>

</div>


<table id="results" class="simple" style="width: 100%; table-layout: fixed;">
	<thead><tr>
		<th>thumbnail</th>
		<th>filename</th>
		<th>uploaded</th>
		<th>status</th>
		<th>inspect</th>
	</tr></thead>

	<tbody>
		<tr data-template="img" style="display: none;">
			<td><img id="thumb"></td>
			<td id="filename"></td>
			<td id="uptime"></td>
			<td id="status"></td>
			<td id="inspect"><img class="controlImg" src="/static/imgs/icon.search.svg" onclick="mira_search_open(this);"></td>
		</tr>
	</tbody>

</table>

{% endblock %}
