
{% extends "base.html" %}

{% set active_page = "image" %}


{% block customscripts %}

<script type="text/javascript">
var imageID = '{{ imgID }}';
var imagedata = null;

$(window).on('load', mira_show_refresh);
$(window).on('resize', mira_show_resize);

</script>



{% endblock %}



{% block content %}

<div class="flexbox centered">
	<H2>MIRA image inspector</H2>
	<span id="separator"></span>
	<div id="mainspinner" class="spinner" style="width: 2em; height: 2em; display: none;"></div>
</div>




<div class="flexrow" style="width: 100%; margin-bottom: 3em; justify-content: flex-start;">

	<div class="flexcol" style="min-width: 70%;max-width: 70%; height: 100%;">
		<center><H4>IMAGE</H4></center>
		<!--<img id="image" src="#" style="display: block;width: 100%;height: auto;">-->
		<div id="canvasdiv" style="display: block;width: 100%;height: 100%;">
			<canvas id="canvas"></canvas>
		</div>
	</div>

	<div id="controls" class="flexcol" style="width: 100%; align-self: flex-start;">

		<center><H4>CROPS</H4></center>
		<table id="croptable" class="simple" style="width:100%;">
			<thead><tr>
				<th>ID</th>
				<th>detector</th>
				<th>class</th>
				<th>asd</th>
			</tr></thead>
			<tbody>
				<tr data-template="crop" style="display:none;">
					<td id="ID"></td>
					<td id="detector"></td>
					<td id="cls"></td>
					<td><img class="controlImg" src="/static/imgs/icon.show.svg" onmouseenter="mira_show_cropinfo(this, true);" onmouseleave="mira_show_cropinfo(this, false);"></td>
				</tr>
			</tbody>
		</table>

		<div class="flexrow">
			<button scan-disable="1" class="button" onclick="mira_show_scan();" title="scan the image for animals">scan</button>
		</div>

		<center><H4>CONTROLS</H4></center>


		<div id="separator"></div>
		<div class="flexrow">
			
			<button class="button" onclick="mira_show_refresh();" title="reload the image">refresh</button>
			<span id="separator"></span>
			<button scan-disable="1" class="button" onclick="mira_show_delete();" title="delete the image from the database">delete</button>
		</div>
	</div>

</div>



{% endblock %}
