
{% extends "base.html" %}

{% set active_page = "upload" %}


{% block content %}

<div class="flexbox centered">
	<H2>MIRA image upload</H2>
	<span id="separator"></span>
	<div id="mainspinner" class="spinner" style="width: 2em; height: 2em; display: none;"></div>
</div>

<div class="flexcol">
	<div class="flexrow">
		<span>Select an image to upload: </span>
		<input id="file" type="file" onchange="mira_file_onchange();">
	</div>
	<div class="flexrow" title="comma separated tags">
		<span style="width: 8em;">tags:</span>
		<input id="tags" type="text" >
	</div>
	<div class="flexrow">
		<span style="width: 8em;">location:</span>
		<input id="loc" type="text">
	</div>


	<div class="flexrow">
		<button id="btOK" onclick="mira_upload();" disabled="">upload</button>
	</div>

</div>

{% endblock %}
