
{% extends "base.html" %}

{% set active_page = "image" %}


{% block customscripts %}

<script type="text/javascript">
var imageID = '{{ imgID }}';
var imagedata = null;

$(window).on('load', mira_show_refresh);
$(window).on('resize', mira_show_resize);

</script>



{% endblock %}



{% block content %}

<div class="flexbox centered">
	<H2>MIRA image inspector</H2>
	<span id="separator"></span>
	<div id="mainspinner" class="spinner" style="width: 2em; height: 2em; display: none;"></div>
</div>




<div class="flexrow" style="width: 100%; justify-content: flex-start;">



	<div id="imagepanel" class="flexcol" style="min-width: 70%;max-width: 70%; height: 100%; padding; 0.5em 0;">
		
		<center><H4>IMAGE</H4></center>
		<div id="canvasdiv" style="display: block;width: 100%;height: 100%;">
			<canvas id="canvas"></canvas>
		</div>
	</div>



	<div id="controls" class="flexcol" style="width: 100%; align-self: flex-start; padding: 0.5em;">

		<div id="statuspanel" class="flexcol" style="margin-bottom: 2em;">

			<center><H4>CONTROLS</H4></center>

			<div class="flexrow centered">
				<span style="width: 8em;">status:</span>
				<span id="phase" class="separator"></span>
			</div>



		</div>


		<div id="croplist" class="flexcol" style="margin-bottom: 2em;">
			<center><H4>CROPS</H4></center>
			<table class="simple" style="width:100%;">
				<thead><tr>
					<th>L output</th>
					<th>S output</th>
					<th style="text-align: center;">details</th>
				</tr></thead>
				<tbody>
					<tr data-template="crop" style="display:none;">
						<td id="outputL"></td>
						<td id="outputS"></td>
						<td style="text-align: center;">
							<button class="wbutton" title="show analysis details" onclick="mira_show_cropdetails(this);">
								<img src="/static/imgs/icon.show.svg">
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


		<div id="cropinfo" class="flexcol">
			<center><H4>CROP DETAILS</H4></center>

			<div class="flexcol" data-template="analysis" style="display: none; margin-bottom: 1em;">

				<div class="flexrow centered">
					<span style="width: 8em;">model:</span>
					<span id="model"></span>
				</div>

				<div class="flexrow">
					<span style="width: 8em;">results:</span>
					<div id="results" class="flexcol"></div>
				</div>

			</div>



		</div>


		<div id="separator"></div>
		<div class="flexrow">
			
			<button class="button" onclick="mira_show_refresh();" title="reload the image">refresh</button>
			<span id="separator"></span>
			<button scan-disable="1" class="button" onclick="mira_show_delete();" title="delete the image from the database">delete</button>
		</div>
	</div>

</div>



{% endblock %}
